{% extends 'reporte_main.html' %}

{% block page_title %} Institucionales {% endblock %}
{% block links %} {% endblock %}

{% block page_header %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Reporte Institucionales</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <!-- <li class="breadcrumb-item"><a href="#">Inicio</a></li> -->
          <li class="breadcrumb-item">Inicio</li>
          <li class="breadcrumb-item active">Reporte Institucionales</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{% endblock %}

<!-- content
    container-fluid -->
{% block page_container %}
<div class="row">
  <!-- left column -->
  <div class="col-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Reporte Institucionales</h3>
        </div>
        <form class="form-horizontal">
          <input type="text" name="origen" hidden value="nueva_operacion">
          <div class="card-body container-fluid col-xl-10">
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Archivo Reporte</label>
              <div class="input-group col-sm-4">
                <a class="btn btn-primary float-right" href="{{url_for('static', filename = 'reportes/Reporte_Institucionales.xlsx')}}"
                download="Reporte_Institucionales.xlsx" role="button">Descargar</a>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}

<!-- content
container-fluid -->

{% block page_script %} {% endblock %}
